.add-photo__caption-wrapper {
  padding-top: 24px;
  padding-bottom: 41px;
}

.add-photo__caption {
  font-weight: 400;
  font-size: 14px;
  color: @dark-blue;
  text-align: center;
  line-height: 30px;
  padding: 0 20px;
  margin: 0;
}

.add-photo__wrapper {
  background-color: @basic-grey;
}

@media (min-width: @tablet-width) {
  .add-photo__caption-wrapper {
    padding-top: 14px;
    padding-bottom: 70px;
  }

  .add-photo__caption {
    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .add-photo__wrapper {
    width: 940px;
    margin: auto;
  }

  .add-photo__caption-wrapper {
    padding-top: 32px;
    padding-bottom: 70px;
  }
}
