.add-photo__caption-wrapper {
  padding-top: 29px;
  padding-bottom: 52px;
}

.add-photo__caption {
  font-weight: 400;
  font-size: 14px;
  color: @dark-blue;
  text-align: center;
  line-height: 30px;
  padding: 0 20px;
  margin: 0;
}

.form-photo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  background-color: @basic-grey;
  padding: 20px 20px 30px;
  margin-bottom: 40px;
  position: relative;
  width: 320px;
}

.form-photo__image {
  max-width: 280px;
  height: auto;
}

.form-photo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.form-photo__button-wrapper {
  max-width: 280px;
  margin: auto;
}

// .form-photo::before {
//   content: "";
//   position: absolute;
//   width: 100%;
//   height: 1px;
//   background: @dark-blue;
//   opacity: 0.1;
//   left: 0;
//   bottom: 200px;
// }

.form-photo__button {
  font-weight: 700;
  font-size: 18px;
  font-family: inherit;
  border-radius: 30px;
  width: 280px;
  height: 55px;
  color: @special-pink;
  border: 3px solid @special-pink;
  margin-bottom: 12px;
  outline: 0;
}

.form-photo__button--cancel {
  color: @dark-blue;
  border: 3px solid @dark-blue;
  opacity: 0.1;
}

.form-photo__bar {
  width: 240px;
  height: 2px;
  background: @dark-blue;
  margin-bottom: 70px;
}

.form-photo__fill,
.form-photo__brightness {
  display: none;
}

.form-photo__icons {
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding: 36px 20px;
}

.photo__icons-crop {
  width: 44px;
  height: 44px;
  background-image: url("../img/crop.svg");
  background-repeat: no-repeat;
}

.photo__icons-fill {
  width: 48px;
  height: 43px;
  background-image: url("../img/fill.svg");
  background-repeat: no-repeat;
}

.photo__icons-contrast {
  width: 32px;
  height: 32px;
  background-image: url("../img/contrast.svg");
  background-repeat: no-repeat;
  margin-top: 5px;
}

.form-photo__toggle::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: @basic-white;
  border: 2px solid @special-pink;
  border-radius: 50%;
  right: 25%;
  top: 110px;
}

@media (min-width: @tablet-width) {
  .form-photo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
  }

  .form-photo__icons {
    flex-direction: column;
  }
}

@media (min-width: @desktop-width) {
  .form-photo {
    width: 940px;
    justify-content: start;
  }

  .form-photo__button-wrapper {
    display: flex;
  }

  .form-photo__button {
    min-width: none;
    width: 183px;
  }
}
