.advantages__title {
  color: @dark-blue;
  text-align: center;
}

.advantages__item {  
  text-align: center;
}
.advantages__science {
  text-align: center;
}

.advantages__item p{
  color: @dark-blue;
}