.advantages__wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.advantages__title {
  color: @dark-blue;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  width: 280px;
}

.advantages__list--wrapper {
  background-color: @basic-grey;
  width: 100%;
  margin: auto;
  position: relative;
}

.advantages__list--wrapper::before {
  content: "";
  width: 100%;
  height: 32px;
  background-color: @basic-white;
  position: absolute ;
  clip-path: polygon(0 0, 100% 0, 0 100%);

}

.advantages__list {
  text-align: center;
  position: relative;
  padding-bottom: 300px;
  width: 280px;
  margin: auto;
  margin-top: 50px;
}

.advantages__item {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 34px;
}

.advantages__item--friends::before {
  content: "";
  position: absolute;
  background-image: url("../img/iphone-3.png");
  background-repeat: no-repeat;
  background-position: 56% 50%;
  width: 157px;
  height: 320px;
  left: 22%;
  bottom: 0;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/iphone-3@2x.png");
    background-size: 157px auto;
  }
}

.advantages__item--friends::after {
  content: "";
  position: absolute;
  background-image: url("../img/iphone-screen-3.jpg");
  background-repeat: no-repeat;
  background-position: 56% 50%;
  width: 136px;
  height: 245px;
  left: 71px;
  bottom: 37px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/iphone-screen-3@2x.jpg");
    background-size: 136px auto;
  }
}

.advantages__item h3 {
  padding: 0;
  margin: 25px 0;
}

.advantages__item p {
  color: @dark-blue;
}

@media (min-width: @tablet-width) {
  .advantages__title {
    width: 590px;
    font-size: 40px;
    line-height: 47px;
    margin: 0;
  }

  .advantages__title--bottom {
    width: 400px;
  }

  .advantages__list {
    width: 640px;
    padding-bottom: 115px;
    display: flex;
    flex-direction: column;
  }

  .advantages__item {
    text-align: left;
    width: 310px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .advantages__item h3 {
    margin: 0;
  }

  .advantages__list--wrapper::before {
    height: 54px;
  }

  .advantages__item--friends::before {
    content: "";
    position: absolute;
    background-image: url("../img/iphone-3-tablet.png");
    background-repeat: no-repeat;
    width: 268px;
    height: 547px;
    left: 10px;
    top: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-3-tablet@2x.png");
      background-size: 268px auto;
    }
  }

  .advantages__item--friends::after {
    content: "";
    position: absolute;
    background-image: url("../img/iphone-screen-3-tablet.jpg");
    background-repeat: no-repeat;
    background-position: 56% 50%;
    width: 241px;
    height: 425px;
    left: 25px;
    top: 61px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.jpg");
      background-size: 241px auto;
    }
  }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    padding-top: 430px;
    width: 900px;
    display: flex;
    flex-direction: row;
    padding-bottom: 0;

  }

  .advantages__title {
    font-size: 50px;
    line-height: 68px;
    width: 940px;
  }

  .advantages__title--bottom {
    width: 450px;
  }

  .advantages__list--wrapper::before {
    height: 100px;
  }

  .advantages__item {
    text-align: center;
    position: relative;
    width: 252px;
  }

  .advantages__item::before {
    content: "";
    position: absolute;
    background-image: url("../img/iphone-3-desktop.png");
    background-repeat: no-repeat;
    width: 186px;
    height: 382px;
    left: 40px;
    top: -430px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-3-desktop@2x.png");
      background-size: 186px auto;
    }
  }

  .advantages__item::after {
    content: "";
    position: absolute;
    // background-image: url("../img/iphone-screen-1-desktop.jpg");
    background-repeat: no-repeat;
    width: 169px;
    height: 298px;
    left: 49px;
    top: -388px;
  }

  .advantages__item--fun::after {
    background-image: url("../img/iphone-screen-1-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-screen-1-desktop@2x.jpg");
      background-size: 169px auto;
    }
  }

  .advantages__item--world::after {
    background-image: url("../../img/iphone-screen-2-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-screen-2-desktop@2x.jpg");
      background-size: 169px auto;
    }
  }

  .advantages__item--friends::after {
    background-image: url("../img/iphone-screen-3-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-screen-3-desktop@2x.jpg");
      background-size: 169px auto;
    }
  }

  .advantages__item p {
    font-size: 18px;
  }

  .advantages__item h3 {
    font-size: 30px;
    line-height: 30px;
  }
}
