.contest-promo {
  margin-top: -71px;
}
.contest-promo__header {
  background-color: @dark-blue;
  background-image: url("../img/back-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 107px 20px 51px 20px;
  margin-bottom: 55px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.contest-promo__title {
  font-weight: 300;
  font-size: 24px;
  color: @basic-white;
  padding: 30px 0;
  margin: auto;
  text-align: center;
  line-height: 32px;
  width: 280px;
}

.contest-promo__slogan {
  font-weight: 400;
  font-size: 14px;
  color: @dark-blue;
  line-height: 30px;
  width: 280px;
  text-align: center;
  margin: auto;
}

.contest-promo__slogan--second {
  display: none;
}

.contest-form {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
}

.contest-form__group {
  border: 0;
  width: 280px;
  margin: auto;
}

.contest-form__name-item {
  display: flex;
  flex-direction: column;
}

.contest-form__label {
  font-weight: 400;
  font-size: 14px;
  color: @special-pink;
  text-transform: uppercase;
  line-height: 18px;
  padding-left: 26px;
  padding-bottom: 10px;
  padding-top: 23px;
}

.contest-form__input {
  height: 59px;
  border: 2px solid @light-grey;
  border-radius: 2px;
  padding-left: 20px;
  font-weight: 400;
  font-size: 18px;
  color: @basic-black;
  font-family: inherit;
}

.contest-form__label-contact {
  display: none;
}

.contest-form__comment {
  text-align: center;
}

.contest-form__comment-text {
  font-weight: 400;
  font-size: 18px;
  color: @basic-black;
  font-family: inherit;
  width: 82%;
  height: 180px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 14px;
  line-height: 30px;
  border: 2px solid @light-grey;
  border-radius: 1px;
  outline: 0;
  margin: auto auto 33px;
}

.contest-form__button-wrapper {
  display: flex;
  flex-direction: column;
}

.contest-form__button {
  font-weight: 700;
  font-size: 18px;
  color: @basic-white;
  font-family: inherit;
  text-transform: uppercase;
  width: 276px;
  height: 59px;
  background-color: @special-green;
  border: 2px solid @special-green;
  border-radius: 2px;
  outline: 0;
  margin: auto;
}

.contest-form__caption {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: @dark-blue;
  padding-top: 20px;
  padding-bottom: 40px;
}

.contest-form__caption span {
  color: @special-pink;
}

.contest-form__label-devices,
.contest-form__label-achievement {
  text-align: center;
  width: 220px;
}

.contest-form__radio,
.contest-form__checkbox {
  display: none;
}

.contest-form__devices,
.contest-form__achievement {
  background-color: @basic-grey;
}

.contest-form__devices-item,
.contest-form__achievement-item {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contest-form__radio+label::before {
  content: "";
  position: absolute;
  width: 37px;
  height: 37px;
  background-color: @basic-white;
  border: 2px solid @light-grey;
  border-radius: 50%;
  left: 6px;
  top: 13px;
}

.contest-form__radio:checked+label::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: @special-pink;
  border-radius: 50%;
  left: 19px;
  top: 27px;
}

.contest-form__devices-label,
.contest-form__achievement-label {
  padding-left: 75px;
}

.contest-form__checkbox+label::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background: @basic-white;
  border: 2px solid @light-grey;
  border-radius: 2px;
  left: 6px;
  top: 14px;
}

.contest-form__checkbox:checked+label::after {
  content: "";
  position: absolute;
  background: url("../img/tick.svg");
  width: 22px;
  height: 16px;
  left: 16px;
  top: 27px;
}

@media (min-width: @tablet-width) {
  .contest-promo {
    margin-top: -88px;
  }

  .contest-promo__header {
    padding-top: 124px;
    background-size: 660px auto;
    background-size: cover;
    background-image: url("../img/back-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
      background-size: 660px auto;
      background-size: cover;
    }
  }

  .contest-promo__title {
    font-size: 50px;
    line-height: 68px;
    width: 620px;
  }

  .contest-promo__slogan {
    font-size: 18px;
    width: 490px;
  }

  .contest-promo__slogan--second {
    display: block;
  }

  .contest-form {
    margin-top: 82px;
  }

  .contest-form__name-item {
    flex-direction: row;
    margin-bottom: 55px;
    position: relative;
  }

  .contest-form__name-item-contact {
    flex-direction: column-reverse;
    margin: 40px 60px;

  }

  .contest-form__label {
    margin-right: 20px;
  }

  .contest-form__input {
    flex-grow: 1;
  }

  .contest-form__group {
    width: 640px;
  }

  .contest-form__name {
    order: -1;
  }

  .contest-form__group {
    margin-bottom: 65px;
    background-color: @basic-white;
  }

  .contest-form__devices {
    order: 0;
    border: 2px solid @light-grey;
  }

  .contest-form__devices-item,
  .contest-form__achievement-item {
    margin-left: 40px;
  }

  .contest-form__contact {
    order: 1;
    border: 2px solid @light-grey;
    position: relative;

  }

  .contest-form__achievement {
    order: 2;
    border: 2px solid @light-grey;
  }

  .contest-form__button-wrapper {
    order: 4;
    flex-direction: row;
    justify-content: space-between;
    width: 640px;
    margin: auto;
    align-items: baseline;
  }

  .contest-form__button {
    margin: 0;
  }

  .contest-form__comment {
    order: 3;
    border: 2px solid @light-grey;
  }

  .contest-form__label-devices,
  .contest-form__label-achievement,
  .contest-form__label-comment,
  .contest-form__label-contact {
    width: 400px;
    padding-top: 8px;
    text-align: center;
  }

  .contest-form__label-contact {
    display: block;
  }

  .contest-form__label-contact-phone::before {
    content: "";
    position: absolute;
    background-image: url(../img/phone-icon.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 19px;
    right: 25px;
    top: 25px;
  }

  .contest-form__label-contact-mail::before {
    content: "";
    position: absolute;
    background-image: url(../img/mail-icon.svg);
    background-repeat: no-repeat;
    width: 18px;
    height: 13px;
    right: 25px;
    top: 25px;
  }
}

@media (min-width: @desktop-width) {

  .contest-promo {
    margin-bottom: 40px;
  }

  .contest-promo__header {
    background-size: 1200px auto;
    background-size: cover;
    background-image: url("../img/back-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
      background-size: 1200px auto;
      background-size: cover;
    }
  }
  .contest-promo__title {
    width: 940px;
  }

  .contest-promo__slogan {
    width: 760px;
  }

  .contest-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 940px;
    margin: auto;
  }

  .contest-form__group {
    margin: 0;
    padding: 0;
  }

  .contest-form__name,
  .contest-form__devices {
    width: 450px;
  }

  .contest-form__contact,
  .contest-form__achievement,
  .contest-form__comment,
  .contest-form__button-wrapper {
    display: flex;
    flex-direction: row;
    grid-column: 1 / 3;
    width: 940px;
  }

  .contest-form__label {
    padding-left: 10px;
  }

  .contest-form__name-item {
    margin-bottom: 58px;
  }

  .contest-form__devices-item {
    margin-left: 80px;
    margin-top: 30px;
  }

  .contest-form__name {
    padding-top: 40px;
  }

  .contest-form__devices {
    padding-left: 0;
  }

  .contest-form__contact {
    margin-top: 64px;
  }


  .contest-form__achievement-item {
    margin-left: 40px;
    margin-top: 30px;
  }

  .contest-form__name-item-contact {
    margin: 40px 54px;
    width: 363px;
  }

  .contest-form__achievement {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .contest-form__achievement,
  .contest-form__comment,
  .contest-form__button-wrapper {
    margin-top: 40px;
  }

  .contest-form__achievement-item-chack-norris {
    order: 0;
  }

  .contest-form__achievement-item-tower {
    order: 1;
  }

  .contest-form__achievement-item-beach {
    order: 2;
  }

  .contest-form__achievement-item-souvenir {
    order: 3;
  }

  .contest-form__achievement-item-hotel {
    order: 4;
  }
}
