.footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 40px;
}

.social-list {
  display: flex;
  justify-content: space-around;
  width: 180px;
  position: relative;
}

.htmlacdademy-link {
  color: @dark-blue;
  text-decoration: none;
  margin-right: 42px;
  font-size: 14px;
}

.htmlacdademy-link::after {
  content: "";
  background-image: url("../img/html-academy.svg");
  background-repeat: no-repeat;
  width: 27px;
  height: 34px;
  position: absolute;
  margin-left: 15px;
  bottom: 38px;

  &:hover {
    color: @dark-blue;
  }
}

.social-item--vk {
  background-image: url("../img/vk.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}

.social-item--telegram {
  background-image: url("../img/telegram.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}

.social-item--youtube {
  background-image: url("../img/youtube.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}

.social-item {
  font-size: 0;
  margin-top: 29px;
  margin-bottom: 42px;
  border-radius: 50%;
  border: 4px solid rgba(40, 54, 69, 0.1);
  padding: 14px;

  &:hover {
    border: 4px solid @dark-blue;
  }

  &:active {
    opacity: 0.1;
  }
}

@media (min-width: @tablet-width) {
  .footer {
    width: 620px;
    justify-content: space-between;
    margin: 0 auto;
    flex-direction: row;
    padding-bottom: 0;
  }

  .social-list {
    margin-right: 20px;
    width: 190px;
  }

  .social-item {
    margin-top: 0;
    margin-bottom: 0;
  }

  .htmlacdademy-link::after {
    bottom: 7px;
  }
}

@media (min-width: @desktop-width) {
  .footer {
    width: 940px;
    padding-top: 30px;
    padding-bottom: 80px;
  }

  .htmlacdademy-link::after {
    bottom: 85px;
  }

  .htmlacdademy-link {
    font-size: 18px;
  }

  .social-list {
    margin-right: -9px;
  }
}
