.header__wrapper-top {
  display: flex;
  justify-content: space-between;
  background-color: @dark-blue;
  padding: 20px;
}

.nav-toggle {
  background-image: url('../../img/open-menu-btn.svg');
  width: 50px;
  height: 24px;
  background-color: transparent;
  border: 0;
}

.header__nav-list {
  display: none;
}

.nav__item {
  text-decoration: none;
  color: @basic-white;
  text-transform: uppercase;
}
