.science {
  display: none;
}

@media (min-width: @tablet-width) {
  .science {
    display: block;
    text-align: left;
    width: 620px;
    margin: auto;
    position: relative;
  }

  .science__wrapper {
    display: flex;
    flex-direction: column;
    width: 310px;
    margin-left: auto;
  }

  .science a {
    color: @special-pink;
  }

  .science h3 {
    font-size: 30px;
    width: 170px;
  }

  .science__wrapper::before {
    width: 238px;
    height: 276px;
    background: url(../img/timer.svg ) no-repeat scroll;
    content: "";
    position: absolute;
    left: 30px;
    top: 20px;
  }

  .science__wrapper::after {
    width: 180px;
    height: 180px;
    position: absolute;
    top: 71px;
    left: 43px;
    content: "24";
    color: @special-pink;
    font-size: 105px;
    font-weight: 700;
    text-align: center;
    line-height: 180px;
    border: 16px solid @special-pink;
    border-radius: 50%;
  }
}

@media (min-width: @desktop-width) {
  .science {
    width: 940px;
  }

  .science__wrapper {
    width: 540px;
  }

  .science__wrapper::before {
    left: 57px;
  }

  .science__wrapper::after {
    left: 70px;
  }
}
